In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [5]:
 def Q10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT subquery.name, subquery.Revenue 
        FROM 

            (SELECT f.name,
            SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots
            ELSE f.membercost * b.slots
            END) AS Revenue 
            FROM Facilities AS f
            INNER JOIN Bookings AS b
            ON f.facid = b.facid
            GROUP BY f.name) AS subquery

        WHERE subquery.Revenue < 1000
        ORDER BY subquery.Revenue


        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Facilities with total revenue less than 1000")
        Q10(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Facilities with total revenue less than 1000
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [7]:
 def Q11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.firstname, m.surname, (r.firstname || ' ' || r.surname) AS Recommender 
        FROM Members as m
        INNER JOIN Members as r
        ON m.recommendedby = r.memid
        WHERE m.memid <> 0
        ORDER BY  m.firstname, m.surname

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Members and their Recommenders")
        Q11(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Members and their Recommenders
('Anna', 'Mackenzie', 'Darren Smith')
('Anne', 'Baker', 'Ponder Stibbons')
('Charles', 'Owen', 'Darren Smith')
('David', 'Jones', 'Janice Joplette')
('David', 'Pinker', 'Jemima Farrell')
('Douglas', 'Jones', 'David Jones')
('Erica', 'Crumpet', 'Tracy Smith')
('Florence', 'Bader', 'Ponder Stibbons')
('Gerald', 'Butters', 'Darren Smith')
('Henrietta', 'Rumney', 'Matthew Genting')
('Henry', 'Worthington-Smyth', 'Tracy Smith')
('Jack', 'Smith', 'Darren Smith')
('Janice', 'Joplette', 'Darren Smith')
('Joan', 'Coplin', 'Timothy Baker')
('John', 'Hunt', 'Millicent Purview')
('Matthew', 'Genting', 'Gerald Butters')
('Millicent', 'Purview', 'Tracy Smith')
('Nancy', 'Dare', 'Janice Joplette')
('Ponder', 'Stibbons', 'Burton Tracy')
('Ramnaresh', 'Sarwin', 'Florence Bader')
('Tim', 'Boothe', 'Tim Rownam')
('Timothy', 'Baker', 'Jemima Farrell')

In [8]:
 def Q12(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, SUM(b.slots) AS member_usage
        FROM Facilities as f
        INNER JOIN Bookings as b
        ON f.facid = b.facid
        WHERE b.memid <> 0
        GROUP BY f.name


        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Facility usage by member")
        Q12(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Facility usage by member
('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [10]:
 def Q13(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, strftime('%m', b.starttime) as Month, SUM(b.slots) AS usage_by_month
        FROM Facilities as f
        INNER JOIN Bookings as b
        ON f.facid = b.facid
        WHERE b.memid <> 0
        GROUP BY f.name, Month

        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Facility usage by month")
        Q13(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Facility usage by month
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)